@import "vars.scss";

// MONTSERRAT
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
// ROBOTO
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.structure__container {
  padding: 72px 372px 96px 372px;

  .structure__title {
    padding-bottom: 44px;
    font-size: 36px;
    font-weight: 700;
  }

  .structure__stat {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    div {
      display: flex;
      flex-direction: column;
      max-width: 238px;
      background-color: rgba(251, 251, 251, 1);
      border-radius: 20px;
      padding: 16px 16px 20px 16px;
      gap: 8px;

      #stat__percent {
        font-size: 40px;
        font-weight: 700;
        color: rgba(92, 181, 133, 1);
      }

      #stat__subtitle {
        font-size: 14px;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
      }
    }
  }
}
